@import "tailwindcss";

:root {
  --background: #080808;
  --foreground: #9C9C9C;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --font-railway: var(--font-railway-sans);
  --font-plex: var(--font-plex-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #080808;
    --foreground: #9C9C9C;
  }
}

body {
  color: var(--foreground);
  font-family: var(--font-railway-sans);
}
