@import "tailwindcss";

:root {
  --background: #080808;
  --foreground: #9C9C9C;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --font-railway: var(--font-railway-sans);
  --font-plex: var(--font-plex-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #080808;
    --foreground: #9C9C9C;
  }
}

body {
  color: var(--foreground);
  font-family: var(--font-railway-sans);
  .hide-scrollbar {
      -ms-overflow-style: none;
      /* Internet Explorer 10+ and Edge */
      scrollbar-width: none;
      /* Firefox */
    }
  
    .hide-scrollbar::-webkit-scrollbar {
      display: none;
      /* Safari and Chrome */
    }
}
